@model IEnumerable<FloorLocation.Models.Location>
@{
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="container">
        <p>Page Number: @ViewData["PageNumber"]</p>
        <a asp-action="Add" class="btn">Add Location</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Location Name</th>
                    <th scope="col">Location Id</th>
                    <th scope="col">Is Clearance</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.LocationName)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.LocationId)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.IsClearance)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "Update", new { LocationName = item.LocationName }, new { @class = "btn" })
                            |
                            @Html.ActionLink("Delete", "Delete", new { LocationName = item.LocationName }, new { @class = "btn" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("1", "Index", "Home", new { PageNumber = 1 }, new { @class = "btn" })
        @Html.ActionLink("2", "Index", "Home", new { PageNumber = 2 }, new { @class = "btn" })
        @Html.ActionLink("3", "Index", "Home", new { PageNumber = 3 }, new { @class = "btn" })
        @Html.ActionLink("4", "Index", "Home", new { PageNumber = 4 }, new { @class = "btn" })
        @Html.ActionLink("5", "Index", "Home", new { PageNumber = 5 }, new { @class = "btn" })
    </div>
</div>
