@model IEnumerable<FloorLocation.Models.Location>
@{
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? pageCount = 0;
    if(@ViewData["PageCount"] is not null) {
        pageCount = (int?)@ViewData["PageCount"];
    }
    int? recordCount = 0;
    if (@ViewData["RecordCount"] is not null)
    {
        recordCount = (int?)@ViewData["RecordCount"];
    }
    int? pageNumber = 0;
    if (@ViewData["PageNumber"] is not null)
    {
        pageNumber = (int?)@ViewData["PageNumber"];
    }
    string btnClass = "inactive";
    int? firstSetPage = (pageNumber * 5) - 4;
    int? lastSetPage = pageNumber * 5;
    if(lastPage > recordCount)
    {
        lastPage = recordCount;
    }
}
<div class="wrapper">
    <div class="container">
        <a asp-action="Add" class="btn">Add Location</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Location Name</th>
                    <th scope="col">Location Id</th>
                    <th scope="col">Is Clearance</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.LocationName)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.LocationId)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.IsClearance)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "Update", new { LocationName = item.LocationName }, new { @class = "btn" })
                            |
                            @Html.ActionLink("Delete", "Delete", new { LocationName = item.LocationName }, new { @class = "btn" })
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4">
                        <div class="pageNavigation">
                            <div class="paging">
                                @if (pageNumber == 1) { btnClass = "active"; } else { btnClass = "inactive"; }
                                @Html.ActionLink("1", "Index", "Home", new { PageNumber = 1 }, new { @class = btnClass })
                                @if (pageNumber < 5)
                                {
                                    for (var i = 2; i <= 5; i++)
                                    {
                                        if (pageNumber != 1 && i == pageNumber) { btnClass = "active"; } else { btnClass = "inactive"; }
                                        @Html.ActionLink(i.ToString(), "Index", "Home", new { PageNumber = i }, new { @class = btnClass })
                                    }
                                    <div>...</div>
                                }
                                else if (pageNumber > (pageCount - 4))
                                {
                                    <div>...</div>
                                    for (var i = (pageCount - 4); i < pageCount; i++)
                                    {
                                        if (pageNumber != 1 && i == pageNumber) { btnClass = "active"; } else { btnClass = "inactive"; }
                                        @Html.ActionLink(i.ToString(), "Index", "Home", new { PageNumber = i }, new { @class = btnClass })
                                    }
                                }
                                else
                                {
                                    <div>...</div>
                                    for (var i = (pageNumber - 1); i < (pageNumber + 2); i++)
                                    {
                                        if (pageNumber != 1 && i == pageNumber) { btnClass = "active"; } else { btnClass = "inactive"; }
                                        @Html.ActionLink(i.ToString(), "Index", "Home", new { PageNumber = i }, new { @class = btnClass })
                                    }
                                    <div>...</div>
                                }
                                @if (pageNumber == pageCount) { btnClass = "active"; } else { btnClass = "inactive"; }
                                @Html.ActionLink(pageCount.ToString(), "Index", "Home", new { PageNumber = pageCount }, new { @class = btnClass })
                            </div>
                            <div class="info">
                                @firstSetPage - @lastSetPage of @recordCount items
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
